
.body{
    background-image: url(../cosas/fondoCan.png);
    background-size:cover;
    min-height: 100vh;
    width: 100%;
    display: flex ;
    background-repeat: no-repeat;
    
}

.form{
    font-family: 'Montserrat', sans-serif !important;
    width: 90%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    padding: 3.5em 1.5em;
    margin: auto;
}
.form__container{
    width: 100%;
    display:grid;
    gap: 1em;
    grid-auto-columns: 100%;
}
.form__title{
    text-align: center;
    font-size:1.9rem;
    margin-block-end: .4em;
    color: white;
}
.form__input{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1rem;
    padding:.8em .1em;
    outline: none;
    border: none;
    border: 1px solid gray;
    background-color: rgba(255, 255, 255, .9);
    
}
.form__input:focus{
    background-color: white;
    font-weight: bold;
}
.form__input:hover{
    font-weight: bold;
    background-color: white;
}
.form__input--message{
   font-family: 'Montserrat', sans-serif !important; 
   resize: none;
   padding-bottom: 1.8em;
   padding-top: .2em;
   margin-bottom: .5em;
}
.form__cta{
    cursor: pointer;
    font-family: 'Montserrat', sans-serif !important;
    background-color: rgba(0, 0, 0, .7);
    color: white;
    border: none;
    font-weight: 600;
    font-size:1rem;
    padding: .7em 0;
    border-radius: .2em;
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
    -ms-border-radius: .2em;
    -o-border-radius: .2em;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
}
.form__cta:hover{
    background-color: #000;
}
@media (max-width:1090px){
    .body{
        background-position: -100px;
        
    }
}
@media (max-width:990px){
    .body{
        background-position: -150px;
        
    }
}

@media (max-width:926px){
    .body{
        background-image: linear-gradient(to right, #434343 0%, hsl(0, 0%, 10%) 100%);
        background-repeat: repeat;
        background-position: 0px;
            .form__title{
        color: black;
        }
        .form{
            background-color: white ;
        }
        .form__input{
            background-color:white;
            
        }
        .form__cta{
            background-color: #000;
            opacity: .9;
        }
    }


}
@media (max-width:450px){
    .form{
        padding: 3.5em 1em;
    }
}